#upload-widget.dropzone {
    border: 2px dashed #0B51C5;
    border-radius: 5px;
    background: white;
    margin: 1rem 0;
}

#upload-widget.dropzone .dz-message {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, serif;
}

#upload-widget.dropzone .dz-message .small {
    font-weight: normal;
    text-transform: none;
    color: #666666;
}

.aligned label[for='id_new_photos'] {
    float: none;
}

#upload-widget.dropzone .dz-message .small + form .aligned p.help, form .aligned div.help {
    margin-left: 0;
}