{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% trans 'Upload' %}
    </div>
{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data"
          class="photos-photo-upload-form">
        <div id="photos-message-box"></div>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
            <input type="submit" value="{% trans 'Upload' %}" class="default"/>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
